html, body {
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#play {
    margin: auto;
    width: 50%;
    font-size: 60px;
    padding: 20px;
    background-color: #457ac0;
    color: aliceblue;
}